zmailer_server
    echo = I: starting service on ipc://@/zmailer_server
    bind
        endpoint = ipc://@/zmailer_server
    server   = "smtp://YOURHOST:PORT"
    user = "YOURUSER"
    password  = "YOURPASSW"

#   Apply to all servers that load this config file
server
    timeout = 10        #   Client connection timeout
    background = 1      #   Run as background process
    workdir = .         #   Working directory for daemon
